In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import utils
import time
import re
from tqdm import tqdm
from fuzzywuzzy import process, fuzz
import jellyfish
import phonetics

c:\Users\BrettMele\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

# Players

In [16]:
# find matches between name and school, then add the marval id for the matches
def fuzzy_match(map_df, map_to_df, map_name_col, map_to_name_col):
    result = pd.DataFrame()
    errors = []

    # remove punctuation from both names if the value is not missing
    map_df['clean_name'] = map_df[map_name_col].apply(lambda x: re.sub(r'[^\w\s]', '', x))
    map_to_df['clean_name'] = map_to_df[map_to_name_col].apply(lambda x: re.sub(r'[^\w\s]', '', x))
    
    # iterate through map_df
    for index, row in map_df.iterrows():

        try:
            ratio = process.extract(
                row['clean_name'].lower(),
                map_to_df['clean_name'].str.lower(),
                limit = 3
            )
            matches = pd.DataFrame(ratio, columns = ['map_name', 'score_name', 'index'])
            matches['map_index'] = index
            matches['map_name'] = row[map_name_col]
            matches = pd.merge(
                matches,
                map_to_df,
                left_on = 'index',
                right_index = True,
                how = 'left'
            )
            matches = matches.sort_values(by = ['score_name'], ascending = False)
            # concat to result
            result = pd.concat([result, matches])
        except Exception as e: 
            print(f"Error on {row[map_name_col]}")
            # add the error message to the row
            row['error'] = e
            errors.append(row)

    return result, errors

In [61]:
conn = utils.db_connect()

dg_players = pd.read_sql('select * from gold.players', conn)
# espn_players = pd.read_sql('select * from gold.player_bio', conn)
espn_player_names = pd.read_sql('select distinct espn_id, name from gold.player_stats', conn)

2023-07-22 22:13:39,255 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-07-22 22:13:39,256 INFO sqlalchemy.engine.Engine [cached since 3998s ago] {'name': 'select * from gold.players'}
2023-07-22 22:13:39,335 INFO sqlalchemy.engine.Engine select * from gold.players
2023-07-22 22:13:39,336 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-22 22:13:39,469 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-07-22 22:13:39,470 INFO sqlalchemy.engine.Engine [cached since 3998s ago] {'name': 'select distinct espn_id, name from gold.player_stats'}
2023-07-22 22:13:39,551 INFO sqlalchemy.engine.Engine select distinct espn_id, name from gold.player_stats
2023-07-22 22:13:39,552 INFO sqlalchemy.engine.Engine [raw sql] {}

In [62]:
# change names to first last instead of last, first
dg_players['name_fl'] = dg_players['name'].apply(lambda x: ' '.join(x.split(', ')[::-1]))
# drop null espn ids
espn_player_names = espn_player_names[espn_player_names['espn_id'].notnull()]

fuzzy_mappings, err = fuzzy_match(espn_player_names, dg_players, 'name', 'name_fl')

In [64]:
# get the highest score for each map_name
best = fuzzy_mappings.sort_values(by = ['map_name','score_name'], ascending = False).groupby('map_name').head(1)

# separate the df by score > 90
matches = best[best.score_name > 87]
checks = best[best.score_name <= 87]

# checks.sort_values(by = ['score_name'], ascending = False)

,map_name,score_name,index,map_index,dg_id,amateur,name,country,country_code,name_fl,clean_name
0,K.H. Lee,86,1209,391,25157,False,"Hodges, Lee",United States,USA,Lee Hodges,Lee Hodges
0,Kyung-tae Kim,86,1489,613,12188,False,"Kim, Bio",Korea - Republic of,KOR,Bio Kim,Bio Kim
0,Mike Lorenzo-Vera,86,1528,499,26090,False,"Kisia, Mike",Kenya,KEN,Mike Kisia,Mike Kisia
0,Josh Broadaway,86,1136,650,13544,False,"Hart, Josh",United States,USA,Josh Hart,Josh Hart
0,Joseph Dean,86,2841,561,8192,False,"Summerhays, Joseph",United States,USA,Joseph Summerhays,Joseph Summerhays
0,Joe Affrunti,86,628,344,16497,False,"Dean, Joe",England,ENG,Joe Dean,Joe Dean
0,Ho-Yu An,86,50,394,14459,False,"An, Byeong Hun",Korea - Republic of,KOR,Byeong Hun An,Byeong Hun An
0,Doug LaBelle II,86,957,86,24550,False,"Ghim, Doug",United States,USA,Doug Ghim,Doug Ghim
0,D.H. Lee,86,1209,339,25157,False,"Hodges, Lee",United States,USA,Lee Hodges,Lee Hodges
0,Stephen Ames,86,2778,187,25335,False,"Stallings Jr., Stephen",United States,USA,Stephen Stallings Jr.,Stephen Stallings Jr
0,Carl Yuan,86,2323,2,7048,False,"Pettersson, Carl",Sweden,SWE,Carl Pettersson,Carl Pettersson
0,Tano Goya,86,1010,270,10877,False,"Goya, Estanislao",Argentina,ARG,Estanislao Goya,Estanislao Goya
0,Tim Clark,86,3144,641,29973,False,"Wiedemeyer, Tim",Germany,GER,Tim Wiedemeyer,Tim Wiedemeyer
0,Tim Petrovic,86,1137,284,15920,False,"Hart, Tim",Australia,AUS,Tim Hart,Tim Hart
0,Tom Gillis,86,2374,363,18096,False,"Power Horan, Tom",Australia,AUS,Tom Power Horan,Tom Power Horan
0,Tom Watson,86,2374,20,18096,False,"Power Horan, Tom",Australia,AUS,Tom Power Horan,Tom Power Horan
0,Cam Davis,86,433,256,30620,False,"Chatfield, Davis",United States,USA,Davis Chatfield,Davis Chatfield
0,Bill Lunde,86,2835,447,20980,False,"Suguturaga, Bill",Fiji,FIJ,Bill Suguturaga,Bill Suguturaga
0,Ben Curtis,86,572,11,29096,False,"Curtis, Lawrence",Australia,AUS,Lawrence Curtis,Lawrence Curtis
0,Kris Ventura,86,3020,541,15651,False,"Ventura, Kristoffer",Norway,NOR,Kristoffer Ventura,Kristoffer Ventura
0,Andy Svoboda,85,2852,372,11274,False,"Svoboda, Andrew",United States,USA,Andrew Svoboda,Andrew Svoboda
0,Chris Riley,83,2248,691,14844,False,"Paisley, Chris",England,ENG,Chris Paisley,Chris Paisley
0,Miguel Ángel Jiménez,82,1359,481,3596,False,"Jimenez, Miguel A",Spain,ESP,Miguel A Jimenez,Miguel A Jimenez
0,Brian Gaffney,82,941,438,5951,False,"Gay, Brian",United States,USA,Brian Gay,Brian Gay
0,Kent Jones,80,1385,162,19867,False,"Jones, Kyle",United States,USA,Kyle Jones,Kyle Jones
0,Jason Allred,80,2011,585,17567,False,"Millard, Jason",United States,USA,Jason Millard,Jason Millard
0,Greg Owen,78,2745,119,12067,False,"Snow, Greg",Kenya,KEN,Greg Snow,Greg Snow
0,Bryce Molder,78,756,615,25228,False,"Emory, Bryce",United States,USA,Bryce Emory,Bryce Emory
0,Brad Elder,76,2012,35,17568,False,"Miller, Brad",United States,USA,Brad Miller,Brad Miller
0,Nathan Holman,76,2899,635,22210,False,"Thomson, Jonathan",England,ENG,Jonathan Thomson,Jonathan Thomson
0,Troy Kelly,76,1458,224,5151,False,"Kelly, Jerry",United States,USA,Jerry Kelly,Jerry Kelly
0,Marco Dawson,75,601,368,20953,False,"Dawson, Robin",Ireland,IRL,Robin Dawson,Robin Dawson
0,Steve Lowery,75,39,457,4871,False,"Alker, Steven",New Zealand,NZL,Steven Alker,Steven Alker
0,Garrett Willis,74,3159,191,25445,False,"Williams, Matt",United States,USA,Matt Williams,Matt Williams
0,Woody Austin,74,518,311,18579,False,"Cook, Austin",United States,USA,Austin Cook,Austin Cook
0,Tyler Light,72,36,456,11677,False,"Aldridge, Tyler",United States,USA,Tyler Aldridge,Tyler Aldridge
0,Rose Zhang,70,2663,574,17983,False,"She, Zihan",China,CHN,Zihan She,Zihan She
0,Yosuke Tsukada,69,79,568,12637,False,"Asaji, Yosuke",Japan,JPN,Yosuke Asaji,Yosuke Asaji
0,Scott Verplank,69,811,464,15616,False,"Fernandez, Scott",Spain,ESP,Scott Fernandez,Scott Fernandez
0,Jason Knutzon,67,392,88,1798,False,"Caron, Jason",United States,USA,Jason Caron,Jason Caron
0,Brandt Jobe,67,1383,234,6254,False,"Jones, Brendan",Australia,AUS,Brendan Jones,Brendan Jones
0,Jay Woodson,67,3194,507,23856,False,"Wood, JJ",United States,USA,JJ Wood,JJ Wood
0,Jarrod Lyle,67,657,267,27327,False,"Dillas, Jarryd",Bermuda,BER,Jarryd Dillas,Jarryd Dillas
0,Darron Stiles,64,2690,570,14705,False,"Silvers, Mark",United States,USA,Mark Silvers,Mark Silvers
0,Billy Mayfair,64,1072,149,7900,False,"Haas, Bill",United States,USA,Bill Haas,Bill Haas
0,Wenyung Keh,64,1257,688,13466,False,"Huang, Wenyi",China,CHN,Wenyi Huang,Wenyi Huang
0,Hiroyuki Fujita,64,1321,345,9099,False,"Iwata, Hiroshi",Japan,JPN,Hiroshi Iwata,Hiroshi Iwata
0,Seuk-Hyun Baek,62,1288,487,17499,False,"Hyung-Seok, Seo",Korea - Republic of,KOR,Seo Hyung-Seok,Seo HyungSeok
0,Michio Matsumura,62,1897,378,13562,False,"Matsuyama, Hideki",Japan,JPN,Hideki Matsuyama,Hideki Matsuyama
0,Rocco Mediate,61,1319,619,15593,False,"Iten, Marco",Switzerland,SUI,Marco Iten,Marco Iten
0,Sophia Schubert,60,2663,400,17983,False,"She, Zihan",China,CHN,Zihan She,Zihan She

In [65]:
# check these and find additional matches
# calculate metaphone code for each name
checks['map_name_code'] = checks['map_name'].apply(lambda x: phonetics.metaphone(x))
checks['name_fl_code'] = checks['name_fl'].apply(lambda x: phonetics.metaphone(x))

# get the fuzz ratio
checks['score_soundex'] = checks.apply(lambda x: fuzz.ratio(x['map_name_code'], x['name_fl_code']), axis = 1)

checks.sort_values(by = ['score_name'], ascending = False, inplace = True)

# for index, row in checks.iterrows():
#     print(row.score_name, row.map_name, row.name_fl, row.score_soundex)

# both scores >= 80
checks[(checks.score_name >= 80) & (checks.score_soundex >= 80)]

86 K.H. Lee Lee Hodges 40
86 Kyung-tae Kim Bio Kim 44
86 Mike Lorenzo-Vera Mike Kisia 50
86 Josh Broadaway Josh Hart 89
86 Joseph Dean Joseph Summerhays 50
86 Joe Affrunti Joe Dean 50
86 Ho-Yu An Byeong Hun An 29
86 Doug LaBelle II Doug Ghim 44
86 D.H. Lee Lee Hodges 40
86 Stephen Ames Stephen Stallings Jr. 56
86 Carl Yuan Carl Pettersson 67
86 Tano Goya Estanislao Goya 67
86 Tim Clark Tim Wiedemeyer 55
86 Tim Petrovic Tim Hart 55
86 Tom Gillis Tom Power Horan 36
86 Tom Watson Tom Power Horan 55
86 Cam Davis Davis Chatfield 46
86 Bill Lunde Bill Suguturaga 50
86 Ben Curtis Lawrence Curtis 71
86 Kris Ventura Kristoffer Ventura 82
85 Andy Svoboda Andrew Svoboda 93
83 Chris Riley Chris Paisley 80
82 Miguel Ángel Jiménez Miguel A Jimenez 82
82 Brian Gaffney Brian Gay 80
80 Kent Jones Kyle Jones 73
80 Jason Allred Jason Millard 92
78 Greg Owen Greg Snow 89
78 Bryce Molder Bryce Emory 83
76 Brad Elder Brad Miller 83
76 Nathan Holman Jonathan Thomson 71
76 Troy Kelly Jerry Kelly 75
75 Marco Dawson Robin Dawson 67
75 Steve Lowery Steven Alker 83
74 Garrett Willis Matt Williams 60
74 Woody Austin Austin Cook 73
72 Tyler Light Tyler Aldridge 83
70 Rose Zhang Zihan She 44
69 Yosuke Tsukada Yosuke Asaji 67
69 Scott Verplank Scott Fernandez 67
67 Jason Knutzon Jason Caron 71
67 Brandt Jobe Brendan Jones 71
67 Jay Woodson JJ Wood 67
67 Jarrod Lyle Jarryd Dillas 73
64 Darron Stiles Mark Silvers 53
64 Billy Mayfair Bill Haas 50
64 Wenyung Keh Wenyi Huang 89
64 Hiroyuki Fujita Hiroshi Iwata 60
62 Seuk-Hyun Baek Seo Hyung-Seok 40
62 Michio Matsumura Hideki Matsuyama 57
61 Rocco Mediate Marco Iten 60
60 Sophia Schubert Zihan She 40

C:\Users\BrettMele\AppData\Local\Temp\ipykernel_24292\2278598802.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks['map_name_code'] = checks['map_name'].apply(lambda x: phonetics.metaphone(x))
C:\Users\BrettMele\AppData\Local\Temp\ipykernel_24292\2278598802.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks['name_fl_code'] = checks['name_fl'].apply(lambda x: phonetics.metaphone(x))
C:\Users\BrettMele\AppData\Local\Temp\ipykernel_24292\2278598802.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks['score_soundex'] = checks.apply(lambda x: fuzz.ratio(x['map_name_code'], x['name_fl_code']), axis = 1)
C:\Users\BrettMele\AppData\Local\Temp\ipykernel_24292\2278598802.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks.sort_values(by = ['score_name'], ascending = False, inplace = True)

,map_name,score_name,index,map_index,dg_id,amateur,name,country,country_code,name_fl,clean_name,map_name_code,name_fl_code,score_soundex
0,Josh Broadaway,86,1136,650,13544,False,"Hart, Josh",United States,USA,Josh Hart,Josh Hart,JXPRT,JXRT,89
0,Kris Ventura,86,3020,541,15651,False,"Ventura, Kristoffer",Norway,NOR,Kristoffer Ventura,Kristoffer Ventura,KRSFNTR,KRSTFRFNTR,82
0,Andy Svoboda,85,2852,372,11274,False,"Svoboda, Andrew",United States,USA,Andrew Svoboda,Andrew Svoboda,ANTSFPT,ANTRSFPT,93
0,Chris Riley,83,2248,691,14844,False,"Paisley, Chris",England,ENG,Chris Paisley,Chris Paisley,KRSRL,KRSPL,80
0,Miguel Ángel Jiménez,82,1359,481,3596,False,"Jimenez, Miguel A",Spain,ESP,Miguel A Jimenez,Miguel A Jimenez,MKLNJLJMNS,MKLJMNS,82
0,Brian Gaffney,82,941,438,5951,False,"Gay, Brian",United States,USA,Brian Gay,Brian Gay,PRNKFN,PRNK,80
0,Jason Allred,80,2011,585,17567,False,"Millard, Jason",United States,USA,Jason Millard,Jason Millard,JSNLRT,JSNMLRT,92

In [66]:
matches_to_add = [
    'Kris Ventura',
    'Arie Irawan',
    'Andy Svoboda',
    'Miguel Ángel Jiménez'
]

checks[checks.map_name.isin(matches_to_add)]

,map_name,score_name,index,map_index,dg_id,amateur,name,country,country_code,name_fl,clean_name,map_name_code,name_fl_code,score_soundex
0,Kris Ventura,86,3020,541,15651,False,"Ventura, Kristoffer",Norway,NOR,Kristoffer Ventura,Kristoffer Ventura,KRSFNTR,KRSTFRFNTR,82
0,Andy Svoboda,85,2852,372,11274,False,"Svoboda, Andrew",United States,USA,Andrew Svoboda,Andrew Svoboda,ANTSFPT,ANTRSFPT,93
0,Miguel Ángel Jiménez,82,1359,481,3596,False,"Jimenez, Miguel A",Spain,ESP,Miguel A Jimenez,Miguel A Jimenez,MKLNJLJMNS,MKLJMNS,82

In [71]:
# bind exact matches with checked matches
final = pd.concat([
    best[['map_name', 'map_index', 'dg_id']],
    checks[checks.map_name.isin(matches_to_add)][['map_name', 'map_index', 'dg_id']]
])

# merge with espn players
final = pd.merge(
    final,
    espn_player_names,
    left_on = 'map_index',
    right_index = True,
    how = 'left'
)

# rename
final = final[['dg_id', 'espn_id', 'map_name']].rename(columns = {'map_name': 'espn_player_name'})

# merge with dg players
final = pd.merge(
    final,
    dg_players[['dg_id', 'name']],
    on = 'dg_id',
    how = 'left'
)

# rename
final = final[['dg_id', 'espn_id', 'espn_player_name', 'name']].rename(columns = {'name': 'dg_player_name'})

# add placeholder for PGA names
final['pga_player_name'] = None

final.head()

In [73]:
# write to db
drop_statement = """
DROP TABLE IF EXISTS gold.player_xref;
"""

create_statement = """
CREATE TABLE gold.player_xref (
    id serial PRIMARY KEY,
    dg_id integer,
    espn_id integer,
    espn_player_name varchar(255),
    dg_player_name varchar(255),
    pga_player_name varchar(255)
);
"""

conn.execute(drop_statement)
conn.execute(create_statement)

utils.write_to_db(final, 'player_xref', schema='gold', append=True)

# Events

In [59]:
conn = utils.db_connect()

event_money = pd.read_sql('select * from gold.winnings', conn)
events = pd.read_sql('select distinct event_id, event_name, calendar_year, season, tour from gold.events', conn)

# distinct events from event_money
event_money_events = event_money[['event_name', 'season']].drop_duplicates()

2023-07-23 16:55:24,003 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-07-23 16:55:24,004 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 16:55:24,166 INFO sqlalchemy.engine.Engine select current_schema()
2023-07-23 16:55:24,167 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 16:55:24,329 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-07-23 16:55:24,330 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 16:55:24,581 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-07-23 16:55:24,581 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {'name': 'select * from gold.winnings'}
2023-07-23 16:55:24,744 INFO sqlalchemy.engine.Engine select * from gold.winnings
2023-07-23 16:55:24,745 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 16:55:26,028 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-07-23 16:55:26,029 INFO sqlalchemy.engine.Engine [cached since 1.448s ago] {'name': 'select distinct event_id, event_name, calendar_year, season, tour from gold.events'}
2023-07-23 16:55:26,117 INFO sqlalchemy.engine.Engine select distinct event_id, event_name, calendar_year, season, tour from gold.events
2023-07-23 16:55:26,118 INFO sqlalchemy.engine.Engine [raw sql] {}

In [25]:
# find matches between name and school, then add the marval id for the matches
def fuzzy_match_events(map_df, map_to_df, map_event_col, map_to_event_col):
    result = pd.DataFrame()
    errors = []

    # remove punctuation from both names if the value is not missing
    map_df['clean_event'] = map_df[map_event_col].apply(lambda x: re.sub(r'[^\w\s]', '', x))
    map_to_df['clean_event'] = map_to_df[map_to_event_col].apply(lambda x: re.sub(r'[^\w\s]', '', x))
    
    # iterate through map_df
    for index, row in map_df.iterrows():

        try:
            # filter for season = row.season
            tmp = map_to_df[map_to_df['season'] == row['season']]
            ratio = process.extract(
                row['clean_event'].lower(),
                tmp['clean_event'].str.lower(),
                limit = 1
            )
            matches = pd.DataFrame(ratio, columns = ['map_event', 'score', 'index'])
            matches['map_index'] = index
            matches['map_event'] = row[map_event_col]
            matches = pd.merge(
                matches,
                tmp,
                left_on = 'index',
                right_index = True,
                how = 'left'
            )
            matches = matches.sort_values(by = ['score'], ascending = False)
            # concat to result
            result = pd.concat([result, matches])
        except Exception as e: 
            print(f"Error on {row[map_event_col]}")
            # add the error message to the row
            row['error'] = e
            errors.append(row)

    return result, errors

In [38]:
fuzzy_mappings, err = fuzzy_match_events(event_money_events, events, 'event_name', 'event_name')

In [39]:
matches = fuzzy_mappings[fuzzy_mappings.score > 87]
checks = fuzzy_mappings[fuzzy_mappings.score <= 87]

matches.sort_values(by = ['score'], ascending = True, inplace=True)

for index, row in matches.iterrows():
    print(row.score, row.calendar_year, row.map_event, row.event_name)

90 2020 U.S. Open (2021) U.S. Open
95 2017 BMW Championship BMW PGA Championship
97 2021 Corales Puntacana Resort & Club Championship (2021) Corales Puntacana Resort & Club Championship #2
100 2023 John Deere Classic John Deere Classic
100 2019 Waste Management Phoenix Open Waste Management Phoenix Open
100 2019 AT&T Pebble Beach Pro-Am AT&T Pebble Beach Pro-Am
100 2019 Genesis Open Genesis Open
100 2019 World Golf Championships-Mexico Championship World Golf Championships-Mexico Championship
100 2019 Puerto Rico Open Puerto Rico Open
100 2019 The Honda Classic The Honda Classic
100 2019 Arnold Palmer Invitational presented by Mastercard Arnold Palmer Invitational presented by Mastercard
100 2019 THE PLAYERS Championship THE PLAYERS Championship
100 2019 Valspar Championship Valspar Championship
100 2019 Corales Puntacana Resort & Club Championship Corales Puntacana Resort & Club Championship
100 2019 Valero Texas Open Valero Texas Open
100 2019 Farmers Insurance Open Farmers Insurance Open
100 2019 RBC Heritage RBC Heritage
100 2019 Desert Classic Desert Classic
100 2019 Sentry Tournament of Champions Sentry Tournament of Champions
100 2018 PGA Championship PGA Championship
100 2018 Wyndham Championship Wyndham Championship
100 2018 THE NORTHERN TRUST THE NORTHERN TRUST
100 2017 Dell Technologies Championship Dell Technologies Championship
100 2017 BMW Championship BMW Championship
100 2017 TOUR Championship TOUR Championship
100 2019 Sony Open in Hawaii Sony Open in Hawaii
100 2018 CIMB Classic CIMB Classic
100 2018 World Golf Championships-HSBC Champions World Golf Championships-HSBC Champions
100 2018 Sanderson Farms Championship Sanderson Farms Championship
100 2018 Shriners Hospitals for Children Open Shriners Hospitals for Children Open
100 2018 Mayakoba Golf Classic Mayakoba Golf Classic
100 2017 U.S. Open U.S. Open
100 2018 The RSM Classic The RSM Classic
100 2018 THE CJ CUP @ NINE BRIDGES THE CJ CUP @ NINE BRIDGES
100 2018 Safeway Open Safeway Open
100 2019 Wells Fargo Championship Wells Fargo Championship
100 2019 AT&T Byron Nelson AT&T Byron Nelson
100 2020 AT&T Pebble Beach Pro-Am AT&T Pebble Beach Pro-Am
100 2020 Waste Management Phoenix Open Waste Management Phoenix Open
100 2020 Farmers Insurance Open Farmers Insurance Open
100 2020 The American Express The American Express
100 2020 Sony Open in Hawaii Sony Open in Hawaii
100 2020 Sentry Tournament of Champions Sentry Tournament of Champions
100 2019 Mayakoba Golf Classic Mayakoba Golf Classic
100 2019 Houston Open Houston Open
100 2019 World Golf Championships-HSBC Champions World Golf Championships-HSBC Champions
100 2019 Bermuda Championship Bermuda Championship
100 2019 ZOZO CHAMPIONSHIP ZOZO CHAMPIONSHIP
100 2019 THE CJ CUP @ NINE BRIDGES THE CJ CUP @ NINE BRIDGES
100 2019 Shriners Hospitals for Children Open Shriners Hospitals for Children Open
100 2019 3M Open 3M Open
100 2019 Safeway Open Safeway Open
100 2019 Sanderson Farms Championship Sanderson Farms Championship
100 2019 A Military Tribute at The Greenbrier A Military Tribute at The Greenbrier
100 2019 PGA Championship PGA Championship
100 2019 Charles Schwab Challenge Charles Schwab Challenge
100 2019 the Memorial Tournament presented by Nationwide the Memorial Tournament presented by Nationwide
100 2019 RBC Canadian Open RBC Canadian Open
100 2019 Travelers Championship Travelers Championship
100 2019 Rocket Mortgage Classic Rocket Mortgage Classic
100 2018 World Golf Championships-Bridgestone Invitational World Golf Championships-Bridgestone Invitational
100 2019 John Deere Classic John Deere Classic
100 2019 The Open Championship The Open Championship
100 2019 World Golf Championships-FedEx St. Jude Invitational World Golf Championships-FedEx St. Jude Invitational
100 2019 Barracuda Championship Barracuda Championship
100 2019 Wyndham Championship Wyndham Championship
100 2019 THE NORTHERN TRUST THE NORTHERN TRUST
100 2018 BMW Championship BMW Championship
100 2019 Barbasol Championship Barbasol Championship
100 2018 RBC Canadian Open RBC Canadian Open
100 2018 The Open Championship The Open Championship
100 2018 Barbasol Championship Barbasol Championship
100 2017 THE NORTHERN TRUST THE NORTHERN TRUST
100 2017 Wyndham Championship Wyndham Championship
100 2017 PGA Championship PGA Championship
100 2017 World Golf Championships-Bridgestone Invitational World Golf Championships-Bridgestone Invitational
100 2017 Barbasol Championship Barbasol Championship
100 2017 RBC Canadian Open RBC Canadian Open
100 2017 The Open Championship The Open Championship
100 2017 John Deere Classic John Deere Classic
100 2017 The Greenbrier Classic The Greenbrier Classic
100 2017 Quicken Loans National Quicken Loans National
100 2017 Travelers Championship Travelers Championship
100 2017 FedEx St. Jude Classic FedEx St. Jude Classic
100 2017 Genesis Open Genesis Open
100 2017 the Memorial Tournament presented by Nationwide the Memorial Tournament presented by Nationwide
100 2017 DEAN & DELUCA Invitational DEAN & DELUCA Invitational
100 2017 AT&T Byron Nelson AT&T Byron Nelson
100 2017 THE PLAYERS Championship THE PLAYERS Championship
100 2017 CareerBuilder Challenge CareerBuilder Challenge
100 2017 Farmers Insurance Open Farmers Insurance Open
100 2017 Waste Management Phoenix Open Waste Management Phoenix Open
100 2017 AT&T Pebble Beach Pro-Am AT&T Pebble Beach Pro-Am
100 2017 The Honda Classic The Honda Classic
100 2017 World Golf Championships-Mexico Championship World Golf Championships-Mexico Championship
100 2017 Safeway Open Safeway Open
100 2017 Valspar Championship Valspar Championship
100 2017 Puerto Rico Open Puerto Rico Open
100 2017 Shell Houston Open Shell Houston Open
100 2017 Masters Tournament Masters Tournament
100 2017 RBC Heritage RBC Heritage
100 2017 Valero Texas Open Valero Texas Open
100 2017 Wells Fargo Championship Wells Fargo Championship
100 2017 Arnold Palmer Invitational presented by Mastercard Arnold Palmer Invitational presented by Mastercard
100 2020 The Genesis Invitational The Genesis Invitational
100 2017 CIMB Classic CIMB Classic
100 2017 Sanderson Farms Championship Sanderson Farms Championship
100 2018 John Deere Classic John Deere Classic
100 2018 A Military Tribute at The Greenbrier A Military Tribute at The Greenbrier
100 2018 Quicken Loans National Quicken Loans National
100 2018 Travelers Championship Travelers Championship
100 2018 U.S. Open U.S. Open
100 2018 FedEx St. Jude Classic FedEx St. Jude Classic
100 2018 the Memorial Tournament presented by Nationwide the Memorial Tournament presented by Nationwide
100 2018 Fort Worth Invitational Fort Worth Invitational
100 2018 AT&T Byron Nelson AT&T Byron Nelson
100 2018 THE PLAYERS Championship THE PLAYERS Championship
100 2018 Wells Fargo Championship Wells Fargo Championship
100 2018 Valero Texas Open Valero Texas Open
100 2018 RBC Heritage RBC Heritage
100 2018 Masters Tournament Masters Tournament
100 2018 Houston Open Houston Open
100 2018 Corales Puntacana Resort & Club Championship Corales Puntacana Resort & Club Championship
100 2018 Arnold Palmer Invitational presented by Mastercard Arnold Palmer Invitational presented by Mastercard
100 2017 World Golf Championships-HSBC Champions World Golf Championships-HSBC Champions
100 2017 Shriners Hospitals for Children Open Shriners Hospitals for Children Open
100 2017 OHL Classic at Mayakoba OHL Classic at Mayakoba
100 2017 The RSM Classic The RSM Classic
100 2018 Sentry Tournament of Champions Sentry Tournament of Champions
100 2018 Sony Open in Hawaii Sony Open in Hawaii
100 2017 THE CJ CUP @ NINE BRIDGES THE CJ CUP @ NINE BRIDGES
100 2018 CareerBuilder Challenge CareerBuilder Challenge
100 2018 Waste Management Phoenix Open Waste Management Phoenix Open
100 2018 AT&T Pebble Beach Pro-Am AT&T Pebble Beach Pro-Am
100 2018 Genesis Open Genesis Open
100 2018 The Honda Classic The Honda Classic
100 2018 World Golf Championships-Mexico Championship World Golf Championships-Mexico Championship
100 2018 Valspar Championship Valspar Championship
100 2018 Farmers Insurance Open Farmers Insurance Open
100 2020 Puerto Rico Open Puerto Rico Open
100 2020 World Golf Championships-Mexico Championship World Golf Championships-Mexico Championship
100 2017 Sony Open in Hawaii Sony Open in Hawaii
100 2022 Shriners Children's Open Shriners Children's Open
100 2022 Sanderson Farms Championship Sanderson Farms Championship
100 2022 Fortinet Championship Fortinet Championship
100 2022 BMW Championship BMW Championship
100 2022 FedEx St. Jude Championship FedEx St. Jude Championship
100 2022 Wyndham Championship Wyndham Championship
100 2022 Rocket Mortgage Classic Rocket Mortgage Classic
100 2022 Barracuda Championship Barracuda Championship
100 2022 The Open Championship The Open Championship
100 2022 Genesis Scottish Open Genesis Scottish Open
100 2022 Barbasol Championship Barbasol Championship
100 2022 John Deere Classic John Deere Classic
100 2022 Travelers Championship Travelers Championship
100 2022 U.S. Open U.S. Open
100 2022 RBC Canadian Open RBC Canadian Open
100 2022 the Memorial Tournament presented by Workday the Memorial Tournament presented by Workday
100 2022 Charles Schwab Challenge Charles Schwab Challenge
100 2022 WM Phoenix Open WM Phoenix Open
100 2022 The Genesis Invitational The Genesis Invitational
100 2022 The Honda Classic The Honda Classic
100 2022 Arnold Palmer Invitational presented by Mastercard Arnold Palmer Invitational presented by Mastercard
100 2022 Puerto Rico Open Puerto Rico Open
100 2022 THE PLAYERS Championship THE PLAYERS Championship
100 2022 ZOZO CHAMPIONSHIP ZOZO CHAMPIONSHIP
100 2022 Valspar Championship Valspar Championship
100 2022 Valero Texas Open Valero Texas Open
100 2022 RBC Heritage RBC Heritage
100 2022 Mexico Open at Vidanta Mexico Open at Vidanta
100 2022 Wells Fargo Championship Wells Fargo Championship
100 2022 AT&T Byron Nelson AT&T Byron Nelson
100 2021 PGA Championship PGA Championship
100 2022 Corales Puntacana Championship Corales Puntacana Championship
100 2022 AT&T Pebble Beach Pro-Am AT&T Pebble Beach Pro-Am
100 2022 THE CJ CUP in South Carolina THE CJ CUP in South Carolina
100 2022 World Wide Technology Championship at Mayakoba World Wide Technology Championship at Mayakoba
100 2023 Rocket Mortgage Classic Rocket Mortgage Classic
100 2023 U.S. Open U.S. Open
100 2023 Travelers Championship Travelers Championship
100 2023 RBC Canadian Open RBC Canadian Open
100 2022 3M Open 3M Open
100 2023 the Memorial Tournament presented by Workday the Memorial Tournament presented by Workday
100 2023 Charles Schwab Challenge Charles Schwab Challenge
100 2022 PGA Championship PGA Championship
100 2021 3M Open 3M Open
100 2023 RBC Heritage RBC Heritage
100 2023 AT&T Byron Nelson AT&T Byron Nelson
100 2023 Wells Fargo Championship Wells Fargo Championship
100 2023 Mexico Open at Vidanta Mexico Open at Vidanta
100 2023 Zurich Classic of New Orleans Zurich Classic of New Orleans
100 2023 Masters Tournament Masters Tournament
100 2023 Valero Texas Open Valero Texas Open
100 2023 Corales Puntacana Championship Corales Puntacana Championship
100 2022 Cadence Bank Houston Open Cadence Bank Houston Open
100 2022 The RSM Classic The RSM Classic
100 2023 Sentry Tournament of Champions Sentry Tournament of Champions
100 2023 Sony Open in Hawaii Sony Open in Hawaii
100 2023 The American Express The American Express
100 2023 Farmers Insurance Open Farmers Insurance Open
100 2022 Butterfield Bermuda Championship Butterfield Bermuda Championship
100 2023 AT&T Pebble Beach Pro-Am AT&T Pebble Beach Pro-Am
100 2023 The Genesis Invitational The Genesis Invitational
100 2023 The Honda Classic The Honda Classic
100 2023 Arnold Palmer Invitational presented by Mastercard Arnold Palmer Invitational presented by Mastercard
100 2023 Puerto Rico Open Puerto Rico Open
100 2023 THE PLAYERS Championship THE PLAYERS Championship
100 2023 Valspar Championship Valspar Championship
100 2023 WM Phoenix Open WM Phoenix Open
100 2019 The RSM Classic The RSM Classic
100 2022 Farmers Insurance Open Farmers Insurance Open
100 2022 Sony Open in Hawaii Sony Open in Hawaii
100 2021 The Genesis Invitational The Genesis Invitational
100 2021 AT&T Pebble Beach Pro-Am AT&T Pebble Beach Pro-Am
100 2021 Waste Management Phoenix Open Waste Management Phoenix Open
100 2021 Farmers Insurance Open Farmers Insurance Open
100 2021 The American Express The American Express
100 2021 Sony Open in Hawaii Sony Open in Hawaii
100 2021 Sentry Tournament of Champions Sentry Tournament of Champions
100 2020 Mayakoba Golf Classic presented by UNIFIN Mayakoba Golf Classic presented by UNIFIN
100 2020 The RSM Classic The RSM Classic
100 2020 Vivint Houston Open Vivint Houston Open
100 2020 Bermuda Championship Bermuda Championship
100 2020 ZOZO CHAMPIONSHIP @ SHERWOOD ZOZO CHAMPIONSHIP @ SHERWOOD
100 2020 THE CJ CUP @ SHADOW CREEK THE CJ CUP @ SHADOW CREEK
100 2020 Shriners Hospitals for Children Open Shriners Hospitals for Children Open
100 2020 Sanderson Farms Championship Sanderson Farms Championship
100 2020 Safeway Open Safeway Open
100 2020 BMW Championship BMW Championship
100 2020 The Honda Classic The Honda Classic
100 2020 Arnold Palmer Invitational presented by Mastercard Arnold Palmer Invitational presented by Mastercard
100 2020 Charles Schwab Challenge Charles Schwab Challenge
100 2020 RBC Heritage RBC Heritage
100 2020 Travelers Championship Travelers Championship
100 2019 U.S. Open U.S. Open
100 2021 World Golf Championships-Workday Championship at The Concession World Golf Championships-Workday Championship at The Concession
100 2020 Workday Charity Open Workday Charity Open
100 2020 the Memorial Tournament presented by Nationwide the Memorial Tournament presented by Nationwide
100 2020 World Golf Championships-FedEx St. Jude Invitational World Golf Championships-FedEx St. Jude Invitational
100 2020 Barracuda Championship Barracuda Championship
100 2020 PGA Championship PGA Championship
100 2020 Wyndham Championship Wyndham Championship
100 2020 THE NORTHERN TRUST THE NORTHERN TRUST
100 2020 Rocket Mortgage Classic Rocket Mortgage Classic
100 2022 The American Express The American Express
100 2021 Puerto Rico Open Puerto Rico Open
100 2021 THE PLAYERS Championship THE PLAYERS Championship
100 2022 Sentry Tournament of Champions Sentry Tournament of Champions
100 2021 The RSM Classic The RSM Classic
100 2021 Hewlett Packard Enterprise Houston Open Hewlett Packard Enterprise Houston Open
100 2021 World Wide Technology Championship at Mayakoba World Wide Technology Championship at Mayakoba
100 2021 Butterfield Bermuda Championship Butterfield Bermuda Championship
100 2021 ZOZO CHAMPIONSHIP ZOZO CHAMPIONSHIP
100 2021 THE CJ CUP @ SUMMIT THE CJ CUP @ SUMMIT
100 2021 Shriners Children's Open Shriners Children's Open
100 2021 Sanderson Farms Championship Sanderson Farms Championship
100 2021 Fortinet Championship Fortinet Championship
100 2021 BMW Championship BMW Championship
100 2021 THE NORTHERN TRUST THE NORTHERN TRUST
100 2021 Wyndham Championship Wyndham Championship
100 2021 Barracuda Championship Barracuda Championship
100 2021 World Golf Championships-FedEx St. Jude Invitational World Golf Championships-FedEx St. Jude Invitational
100 2021 Barbasol Championship Barbasol Championship
100 2021 The Open Championship The Open Championship
100 2021 The Honda Classic The Honda Classic
100 2021 Valero Texas Open Valero Texas Open
100 2020 3M Open 3M Open
100 2021 Valspar Championship Valspar Championship
100 2021 Wells Fargo Championship Wells Fargo Championship
100 2021 AT&T Byron Nelson AT&T Byron Nelson
100 2021 Arnold Palmer Invitational presented by Mastercard Arnold Palmer Invitational presented by Mastercard
100 2021 PGA Championship PGA Championship
100 2021 RBC Heritage RBC Heritage
100 2021 the Memorial Tournament presented by Nationwide the Memorial Tournament presented by Nationwide
100 2021 Palmetto Championship at Congaree Palmetto Championship at Congaree
100 2021 Travelers Championship Travelers Championship
100 2021 Rocket Mortgage Classic Rocket Mortgage Classic
100 2021 John Deere Classic John Deere Classic
100 2021 Charles Schwab Challenge Charles Schwab Challenge
100 2017 SBS Tournament of Champions SBS Tournament of Champions

C:\Users\BrettMele\AppData\Local\Temp\ipykernel_41876\3596913050.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches.sort_values(by = ['score'], ascending = True, inplace=True)

In [50]:
# find us open
event_money_events[event_money_events['event_name'].str.contains('U.S. Open')]

,event_name,season,clean_event
954,Corales Puntacana Championship,2023,Corales Puntacana Championship
3971,Corales Puntacana Championship,2022,Corales Puntacana Championship
7002,Corales Puntacana Resort & Club Championship (...,2021,Corales Puntacana Resort Club Championship 2021
8455,Corales Puntacana Resort & Club Championship (...,2020,Corales Puntacana Resort Club Championship 2020
12513,Corales Puntacana Resort & Club Championship,2019,Corales Puntacana Resort Club Championship
15896,Corales Puntacana Resort & Club Championship,2018,Corales Puntacana Resort Club Championship

In [42]:
events[events['event_name'].str.contains('U.S. Open')]

      event_id    event_name  calendar_year  season clean_event
93          26     U.S. Open           2018    2018     US Open
541         26     U.S. Open           2017    2017     US Open
773         26     U.S. Open           2020    2021     US Open
1126        26     U.S. Open           2022    2022     US Open
1143       535  U.S. Open #2           2021    2021   US Open 2
1332        26     U.S. Open           2023    2023     US Open
1566        26     U.S. Open           2019    2019     US Open

In [78]:
matches = matches[matches['map_event'] != 'U.S. Open (2021)']
matches.to_csv('matches.csv', index=False)
checks.to_csv('missed_events.csv', index=False)

In [86]:
matches_final = pd.read_csv('matches_final.csv')

In [87]:
# # rename
final = matches_final[['event_id',  'event_name', 'map_event', 'calendar_year', 'season']].rename(
    columns = {'event_id':'dg_event_id', 'event_name':'dg_event_name', 'map_event': 'pga_event_name', 'season': 'pga_season'}
    )

final['tour'] = 'pga'

final.head()

,dg_event_id,dg_event_name,pga_event_name,calendar_year,pga_season,tour
0,525,3M Open,3M Open,2019,2019,pga
1,525,3M Open,3M Open,2020,2020,pga
2,525,3M Open,3M Open,2021,2021,pga
3,525,3M Open,3M Open,2022,2022,pga
4,490,A Military Tribute at The Greenbrier,A Military Tribute at The Greenbrier,2018,2018,pga

In [88]:
# Merge the two DataFrames and mark the rows that exist in both
merged_events = events.merge(final, 
                             left_on=['event_id', 'calendar_year', 'tour'], 
                             right_on=['dg_event_id', 'calendar_year', 'tour'], 
                             how='left', 
                             indicator=True)

# Filter out the rows that exist in both DataFrames
events_filtered = merged_events[merged_events['_merge'] == 'left_only']

# Drop the indicator column if you don't need it
events_filtered.drop(columns='_merge', inplace=True)

events_filtered[events_filtered['tour'] == 'pga'].sort_values(by = ['event_name', 'calendar_year', 'event_id'])

C:\Users\BrettMele\AppData\Local\Temp\ipykernel_41876\3114828317.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_filtered.drop(columns='_merge', inplace=True)

,event_id,event_name,calendar_year,season,tour,dg_event_id,dg_event_name,pga_event_name,pga_season
287,505,Dell Technologies Championship,2018,2019,pga,NaN,NaN,NaN,NaN
9,478,Hero World Challenge,2017,2018,pga,NaN,NaN,NaN,NaN
870,478,Hero World Challenge,2018,2019,pga,NaN,NaN,NaN,NaN
1061,478,Hero World Challenge,2019,2020,pga,NaN,NaN,NaN,NaN
158,478,Hero World Challenge,2021,2022,pga,NaN,NaN,NaN,NaN
164,478,Hero World Challenge,2022,2023,pga,NaN,NaN,NaN,NaN
878,519,Olympic Men's Golf Competition,2021,2021,pga,NaN,NaN,NaN,NaN
1208,11,THE PLAYERS Championship,2020,2020,pga,NaN,NaN,NaN,NaN

Added tour championship manually. Hero World not going to be included, benefits Tiger foundation so no money. Olympics not included, no money. Players was cancelled in 2020.

In [89]:
# write to db
drop_statement = """
DROP TABLE IF EXISTS gold.event_xref;
"""

create_statement = """
CREATE TABLE gold.event_xref (
    id serial PRIMARY KEY,
    dg_event_id integer,
    dg_event_name varchar(255),
    pga_event_name varchar(255),
    calendar_year int,
    pga_season int,
    tour varchar(255)
);
"""

conn.execute(drop_statement)
conn.execute(create_statement)

utils.write_to_db(final, 'event_xref', schema='gold', append=True)

2023-07-23 18:03:48,642 INFO sqlalchemy.engine.Engine
DROP TABLE IF EXISTS gold.event_xref;

2023-07-23 18:03:48,643 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 18:03:48,805 INFO sqlalchemy.engine.Engine COMMIT
2023-07-23 18:03:48,887 INFO sqlalchemy.engine.Engine
CREATE TABLE gold.event_xref (
    id serial PRIMARY KEY,
    dg_event_id integer,
    dg_event_name varchar(255),
    pga_event_name varchar(255),
    calendar_year int,
    pga_season int,
    tour varchar(255)
);

2023-07-23 18:03:48,888 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 18:03:49,057 INFO sqlalchemy.engine.Engine COMMIT
2023-07-23 18:03:50,007 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-07-23 18:03:50,007 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 18:03:50,169 INFO sqlalchemy.engine.Engine select current_schema()
2023-07-23 18:03:50,170 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 18:03:50,333 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-07-23 18:03:50,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-23 18:03:50,500 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2023-07-23 18:03:50,501 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {'schema': 'gold', 'name': 'event_xref'}
2023-07-23 18:03:50,664 INFO sqlalchemy.engine.Engine INSERT INTO gold.event_xref (dg_event_id, dg_event_name, pga_event_name, calendar_year, pga_season, tour) VALUES (%(dg_event_id)s, %(dg_event_name)s, %(pga_event_name)s, %(calendar_year)s, %(pga_season)s, %(tour)s)
2023-07-23 18:03:50,664 INFO sqlalchemy.engine.Engine [generated in 0.00207s] ({'dg_event_id': 525, 'dg_event_name': '3M Open', 'pga_event_name': '3M Open', 'calendar_year': 2019, 'pga_season': 2019, 'tour': 'pga'}, {'dg_event_id': 525, 'dg_event_name': '3M Open', 'pga_event_name': '3M Open', 'calendar_year': 2020, 'pga_season': 2020, 'tour': 'pga'}, {'dg_event_id': 525, 'dg_event_name': '3M Open', 'pga_event_name': '3M Open', 'calendar_year': 2021, 'pga_season': 2021, 'tour': 'pga'}, {'dg_event_id': 525, 'dg_event_name': '3M Open', 'pga_event_name': '3M Open', 'calendar_year': 2022, 'pga_season': 2022, 'tour': 'pga'}, {'dg_event_id': 490, 'dg_event_name': 'A Military Tribute at The Greenbrier', 'pga_event_name': 'A Military Tribute at The Greenbrier', 'calendar_year': 2018, 'pga_season': 2018, 'tour': 'pga'}, {'dg_event_id': 490, 'dg_event_name': 'A Military Tribute at The Greenbrier', 'pga_event_name': 'A Military Tribute at The Greenbrier', 'calendar_year': 2019, 'pga_season': 2020, 'tour': 'pga'}, {'dg_event_id': 9, 'dg_event_name': 'Arnold Palmer Invitational presented by Mastercard', 'pga_event_name': 'Arnold Palmer Invitational presented by Mastercard', 'calendar_year': 2017, 'pga_season': 2017, 'tour': 'pga'}, {'dg_event_id': 9, 'dg_event_name': 'Arnold Palmer Invitational presented by Mastercard', 'pga_event_name': 'Arnold Palmer Invitational presented by Mastercard', 'calendar_year': 2018, 'pga_season': 2018, 'tour': 'pga'}  ... displaying 10 of 306 total bound parameter sets ...  {'dg_event_id': 18, 'dg_event_name': 'Zurich Classic of New Orleans', 'pga_event_name': 'Zurich Classic of New Orleans', 'calendar_year': 2022, 'pga_season': 2022, 'tour': 'pga'}, {'dg_event_id': 18, 'dg_event_name': 'Zurich Classic of New Orleans', 'pga_event_name': 'Zurich Classic of New Orleans', 'calendar_year': 2023, 'pga_season': 2023, 'tour': 'pga'})
2023-07-23 18:03:50,854 INFO sqlalchemy.engine.Engine COMMIT