In [1]:
import time
from tqdm import tqdm
import pandas as pd
import numpy as np
import re
import datetime
import json
import random

import bs4 as bs
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

import utils

In [50]:
def GetTableFromSoup(table_html, headers_html, include_href = True):

    colnames = []
    headers = headers_html.find_all("th")
    for header in headers:
        colnames.append(header.text)
    if include_href:
        colnames.append("href")

    data = []
    rows = table_html.find_all("tr")
    for row in rows:
        row.find_all("td")
        # get the href
        cell_data = [ele.text.strip() for ele in row.find_all("td")]
        if include_href:
            
            try:
                href = row.find("a").get("href")
                cell_data.append(href)
            except:
                cell_data.append(None)

        data.append(cell_data)

    data = pd.DataFrame(data, columns = colnames)

    return data

In [ ]:
# set up browser (use headless when deployed)
url = "https://www.espn.com/golf/stats/player"
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

In [115]:
all_seasons = pd.DataFrame()
for season in range(2015,2024):
    url = f"https://www.espn.com/golf/stats/player/_/season/{season}"
    browser.visit(url)
    time.sleep(2.5)

    while True:
        # click show more
        try:
            browser.find_by_text('Show More').click()
            time.sleep(1)
        except:
            break

    soup = BeautifulSoup(browser.html, 'html.parser')

    tabs = soup.find_all("table")
    headers = soup.find_all("thead")
    a = GetTableFromSoup(tabs[0], headers[0], include_href=True)
    b = GetTableFromSoup(tabs[1], headers[1], include_href=False)
    # combine a and b into a dataframe
    df = pd.concat([a, b], axis = 1)
    # drop row with none values
    df = df.dropna()
    # add season column
    df['season'] = season

    # concat
    all_seasons = pd.concat([all_seasons, df], axis = 0)

In [116]:
# convert earnings to numeric
all_seasons['earnings'] = all_seasons['earnings'].str.replace('$', '').str.replace(',', '').astype(float)
# rename all to snake case
all_seasons.columns = [col.lower().replace(' ', '_') for col in all_seasons.columns]
all_seasons

,rk,name,age,href,earnings,cup,evnts,rnds,cuts,top10,wins,score,ddis,dacc,gir,putts,sand,birds,season
1,1,Jordan Spieth,29,https://www.espn.com/golf/player/_/id/5467/jor...,"$12,030,465",6392,26,92,22,16,6,68.9,291.8,62.9,64.9,1.699,58.1,4.620,2015
2,2,Jason Day,35,https://www.espn.com/golf/player/_/id/1680/jas...,"$9,403,330",6970,21,76,19,12,5,68.9,313.7,55.9,67.1,1.712,61.1,4.711,2015
3,3,Bubba Watson,44,https://www.espn.com/golf/player/_/id/780/bubb...,"$6,876,797",4009,20,72,18,10,2,69.3,315.2,56.6,64.5,1.756,46.9,4.278,2015
4,4,Rickie Fowler,34,https://www.espn.com/golf/player/_/id/3702/ric...,"$5,773,430",4196,22,76,18,8,2,70.3,296.8,62.1,61.5,1.734,55.8,4.053,2015
5,5,Dustin Johnson,39,https://www.espn.com/golf/player/_/id/3448/dus...,"$5,509,467",2854,21,73,18,11,1,68.9,317.7,55.5,67.1,1.715,38.6,4.164,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,235,D.A. Points,46,https://www.espn.com/golf/player/_/id/1196/da-...,"$15,390",9,8,0,1,0,0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,2023
236,236,Scott Gutschewski,46,https://www.espn.com/golf/player/_/id/1195/sco...,"$14,690",5,1,0,1,0,0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,2023
237,237,D.J. Trahan,42,https://www.espn.com/golf/player/_/id/431/dj-t...,"$12,350",7,6,0,1,0,0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,2023
238,238,Kevin Stadler,43,https://www.espn.com/golf/player/_/id/860/kevi...,"$8,968",4,6,0,1,0,0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,2023
239,239,Richard Johnson,46,https://www.espn.com/golf/player/_/id/903/rich...,"$8,208",2,4,0,1,0,0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,2023

In [80]:
# unique hrefs:
hrefs = all_seasons['href'].unique()

player_bio = pd.DataFrame()
for href in hrefs:
    browser.visit(href)
    try:
        time.sleep(0.2)
        soup = BeautifulSoup(browser.html, 'html.parser')
        # find ul with player header in the class
        bio_elems = soup.find('ul', class_ = re.compile('PlayerHeader__Bio')).find_all('li')
        info = []
        names = []
        for elem in bio_elems:
            divs = elem.find_all('div')
            names.append(divs[0].text.strip())
            info.append(divs[1].text.strip())

        df = pd.DataFrame(info, index = names).T
        df['href'] = href
        player_bio = pd.concat([player_bio, df], axis = 0)

    except:
        pass

In [101]:
# clean up
birthdates = player_bio['Birthdate'].str.split(' ')
cleaned = []
for birthdate in birthdates:
    try:
        cleaned.append(birthdate[0])
    except:
        cleaned.append(None)
        
player_bio['Birthdate'] = cleaned
# extract id from href
player_bio['espn_id'] = player_bio['href'].str.split('/').str[-2]
# drop height and weight
player_bio = player_bio.drop(['Height', 'Weight', 'HT/WT'], axis = 1)
# rename all to snake case
player_bio.columns = [col.lower().replace(' ', '_') for col in player_bio.columns]

In [117]:
# merge all_seasons and player_bio
all_seasons = all_seasons.merge(player_bio[['href','espn_id']], on = 'href', how = 'left')
# drop href
all_seasons = all_seasons.drop('href', axis = 1)
all_seasons.head()

,rk,name,age,earnings,cup,evnts,rnds,cuts,top10,wins,score,ddis,dacc,gir,putts,sand,birds,season,espn_id
0,1,Jordan Spieth,29,"$12,030,465",6392,26,92,22,16,6,68.9,291.8,62.9,64.9,1.699,58.1,4.620,2015,5467
1,2,Jason Day,35,"$9,403,330",6970,21,76,19,12,5,68.9,313.7,55.9,67.1,1.712,61.1,4.711,2015,1680
2,3,Bubba Watson,44,"$6,876,797",4009,20,72,18,10,2,69.3,315.2,56.6,64.5,1.756,46.9,4.278,2015,780
3,4,Rickie Fowler,34,"$5,773,430",4196,22,76,18,8,2,70.3,296.8,62.1,61.5,1.734,55.8,4.053,2015,3702
4,5,Dustin Johnson,39,"$5,509,467",2854,21,73,18,11,1,68.9,317.7,55.5,67.1,1.715,38.6,4.164,2015,3448

In [119]:
utils.write_to_db(all_seasons, "espn_stats", append=False)

2023-07-15 22:56:54,698 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-07-15 22:56:54,700 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-15 22:56:54,753 INFO sqlalchemy.engine.Engine select current_schema()
2023-07-15 22:56:54,754 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-15 22:56:54,803 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-07-15 22:56:54,804 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-15 22:56:54,862 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-07-15 22:56:54,863 INFO sqlalchemy.engine.Engine [generated in 0.00062s] {'name': 'espn_stats'}
2023-07-15 22:56:54,922 INFO sqlalchemy.engine.Engine
CREATE TABLE espn_stats (
	rk TEXT,
	name TEXT,
	age TEXT,
	earnings FLOAT(53),
	cup TEXT,
	evnts TEXT,
	rnds TEXT,
	cuts TEXT,
	top10 TEXT,
	wins TEXT,
	score TEXT,
	ddis TEXT,
	dacc TEXT,
	gir TEXT,
	putts TEXT,
	sand TEXT,
	birds TEXT,
	season BIGINT,
	espn_id TEXT
)


2023-07-15 22:56:54,923 INFO sqlalchemy.engine.Engine [no key 0.00110s] {}
2023-07-15 22:56:54,980 INFO sqlalchemy.engine.Engine COMMIT
2023-07-15 22:56:55,027 INFO sqlalchemy.engine.Engine INSERT INTO espn_stats (rk, name, age, earnings, cup, evnts, rnds, cuts, top10, wins, score, ddis, dacc, gir, putts, sand, birds, season, espn_id) VALUES (%(rk)s, %(name)s, %(age)s, %(earnings)s, %(cup)s, %(evnts)s, %(rnds)s, %(cuts)s, %(top10)s, %(wins)s, %(score)s, %(ddis)s, %(dacc)s, %(gir)s, %(putts)s, %(sand)s, %(birds)s, %(season)s, %(espn_id)s)
2023-07-15 22:56:55,027 INFO sqlalchemy.engine.Engine [generated in 0.01620s] ({'rk': '1', 'name': 'Jordan Spieth', 'age': '29', 'earnings': 12030465.0, 'cup': '6392', 'evnts': '26', 'rnds': '92', 'cuts': '22', 'top10': '16', 'wins': '6', 'score': '68.9', 'ddis': '291.8', 'dacc': '62.9', 'gir': '64.9', 'putts': '1.699', 'sand': '58.1', 'birds': '4.620', 'season': 2015, 'espn_id': '5467'}, {'rk': '2', 'name': 'Jason Day', 'age': '35', 'earnings': 9403330.0, 'cup': '6970', 'evnts': '21', 'rnds': '76', 'cuts': '19', 'top10': '12', 'wins': '5', 'score': '68.9', 'ddis': '313.7', 'dacc': '55.9', 'gir': '67.1', 'putts': '1.712', 'sand': '61.1', 'birds': '4.711', 'season': 2015, 'espn_id': '1680'}, {'rk': '3', 'name': 'Bubba Watson', 'age': '44', 'earnings': 6876797.0, 'cup': '4009', 'evnts': '20', 'rnds': '72', 'cuts': '18', 'top10': '10', 'wins': '2', 'score': '69.3', 'ddis': '315.2', 'dacc': '56.6', 'gir': '64.5', 'putts': '1.756', 'sand': '46.9', 'birds': '4.278', 'season': 2015, 'espn_id': '780'}, {'rk': '4', 'name': 'Rickie Fowler', 'age': '34', 'earnings': 5773430.0, 'cup': '4196', 'evnts': '22', 'rnds': '76', 'cuts': '18', 'top10': '8', 'wins': '2', 'score': '70.3', 'ddis': '296.8', 'dacc': '62.1', 'gir': '61.5', 'putts': '1.734', 'sand': '55.8', 'birds': '4.053', 'season': 2015, 'espn_id': '3702'}, {'rk': '5', 'name': 'Dustin Johnson', 'age': '39', 'earnings': 5509467.0, 'cup': '2854', 'evnts': '21', 'rnds': '73', 'cuts': '18', 'top10': '11', 'wins': '1', 'score': '68.9', 'ddis': '317.7', 'dacc': '55.5', 'gir': '67.1', 'putts': '1.715', 'sand': '38.6', 'birds': '4.164', 'season': 2015, 'espn_id': '3448'}, {'rk': '6', 'name': 'Justin Rose', 'age': '42', 'earnings': 5462677.0, 'cup': '3046', 'evnts': '21', 'rnds': '70', 'cuts': '16', 'top10': '9', 'wins': '1', 'score': '69.9', 'ddis': '303.5', 'dacc': '63.9', 'gir': '66.5', 'putts': '1.736', 'sand': '60.7', 'birds': '4.500', 'season': 2015, 'espn_id': '569'}, {'rk': '7', 'name': 'Rory McIlroy', 'age': '34', 'earnings': 4863312.0, 'cup': '2407', 'evnts': '12', 'rnds': '42', 'cuts': '11', 'top10': '7', 'wins': '2', 'score': '69.6', 'ddis': '0.0', 'dacc': '0.0', 'gir': '0.0', 'putts': '0.000', 'sand': '0.0', 'birds': '4.143', 'season': 2015, 'espn_id': '3470'}, {'rk': '8', 'name': 'Zach Johnson', 'age': '47', 'earnings': 4801487.0, 'cup': '2794', 'evnts': '26', 'rnds': '91', 'cuts': '21', 'top10': '11', 'wins': '1', 'score': '69.7', 'ddis': '282.6', 'dacc': '71.2', 'gir': '65.6', 'putts': '1.735', 'sand': '56.3', 'birds': '3.978', 'season': 2015, 'espn_id': '686'}  ... displaying 10 of 2676 total bound parameter sets ...  {'rk': '238', 'name': 'Kevin Stadler', 'age': '43', 'earnings': 8968.0, 'cup': '4', 'evnts': '6', 'rnds': '0', 'cuts': '1', 'top10': '0', 'wins': '0', 'score': '0.0', 'ddis': '0.0', 'dacc': '0.0', 'gir': '0.0', 'putts': '0.000', 'sand': '0.0', 'birds': '0.000', 'season': 2023, 'espn_id': '860'}, {'rk': '239', 'name': 'Richard Johnson', 'age': '46', 'earnings': 8208.0, 'cup': '2', 'evnts': '4', 'rnds': '0', 'cuts': '1', 'top10': '0', 'wins': '0', 'score': '0.0', 'ddis': '0.0', 'dacc': '0.0', 'gir': '0.0', 'putts': '0.000', 'sand': '0.0', 'birds': '0.000', 'season': 2023, 'espn_id': '903'})
2023-07-15 22:56:55,397 INFO sqlalchemy.engine.Engine COMMIT

In [120]:
utils.write_to_db(player_bio, "espn_bio", append=False)

2023-07-15 22:57:30,840 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-07-15 22:57:30,841 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-15 22:57:30,977 INFO sqlalchemy.engine.Engine select current_schema()
2023-07-15 22:57:30,978 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-15 22:57:31,066 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-07-15 22:57:31,066 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-07-15 22:57:31,138 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-07-15 22:57:31,139 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {'name': 'espn_bio'}
2023-07-15 22:57:31,253 INFO sqlalchemy.engine.Engine
CREATE TABLE espn_bio (
	birthdate TEXT,
	birthplace TEXT,
	college TEXT,
	swing TEXT,
	turned_pro TEXT,
	href TEXT,
	espn_id TEXT
)


2023-07-15 22:57:31,254 INFO sqlalchemy.engine.Engine [no key 0.00069s] {}
2023-07-15 22:57:31,321 INFO sqlalchemy.engine.Engine COMMIT
2023-07-15 22:57:31,349 INFO sqlalchemy.engine.Engine INSERT INTO espn_bio (birthdate, birthplace, college, swing, turned_pro, href, espn_id) VALUES (%(birthdate)s, %(birthplace)s, %(college)s, %(swing)s, %(turned_pro)s, %(href)s, %(espn_id)s)
2023-07-15 22:57:31,349 INFO sqlalchemy.engine.Engine [generated in 0.00226s] ({'birthdate': '7/27/1993', 'birthplace': 'Dallas, Texas', 'college': 'Texas', 'swing': 'Right', 'turned_pro': '2012', 'href': 'https://www.espn.com/golf/player/_/id/5467/jordan-spieth', 'espn_id': '5467'}, {'birthdate': '11/12/1987', 'birthplace': 'Beaudesert, Queensland', 'college': None, 'swing': 'Right', 'turned_pro': '2006', 'href': 'https://www.espn.com/golf/player/_/id/1680/jason-day', 'espn_id': '1680'}, {'birthdate': '11/5/1978', 'birthplace': 'Bagdad, Florida', 'college': 'Georgia', 'swing': 'Right', 'turned_pro': None, 'href': 'https://www.espn.com/golf/player/_/id/780/bubba-watson', 'espn_id': '780'}, {'birthdate': '12/13/1988', 'birthplace': 'Anaheim, California', 'college': 'Oklahoma State', 'swing': 'Right', 'turned_pro': '2009', 'href': 'https://www.espn.com/golf/player/_/id/3702/rickie-fowler', 'espn_id': '3702'}, {'birthdate': '6/22/1984', 'birthplace': 'Columbia, South Carolina', 'college': 'Coastal Carolina', 'swing': 'Right', 'turned_pro': '2007', 'href': 'https://www.espn.com/golf/player/_/id/3448/dustin-johnson', 'espn_id': '3448'}, {'birthdate': '7/30/1980', 'birthplace': 'Johannesburg, South Africa', 'college': None, 'swing': 'Right', 'turned_pro': '1998', 'href': 'https://www.espn.com/golf/player/_/id/569/justin-rose', 'espn_id': '569'}, {'birthdate': '5/4/1989', 'birthplace': 'Holywood, Northern Ireland', 'college': None, 'swing': 'Right', 'turned_pro': '2007', 'href': 'https://www.espn.com/golf/player/_/id/3470/rory-mcilroy', 'espn_id': '3470'}, {'birthdate': '2/24/1976', 'birthplace': 'Iowa City, Iowa', 'college': 'Drake', 'swing': 'Right', 'turned_pro': '1998', 'href': 'https://www.espn.com/golf/player/_/id/686/zach-johnson', 'espn_id': '686'}  ... displaying 10 of 673 total bound parameter sets ...  {'birthdate': '9/20/1991', 'birthplace': None, 'college': 'Air Force', 'swing': 'Right', 'turned_pro': None, 'href': 'https://www.espn.com/golf/player/_/id/11105/kyle-westmoreland', 'espn_id': '11105'}, {'birthdate': '7/12/1980', 'birthplace': 'Belleville, Illinois', 'college': 'Florida Gulf Coast', 'swing': 'Right', 'turned_pro': '2004', 'href': 'https://www.espn.com/golf/player/_/id/1276/derek-lamely', 'espn_id': '1276'})
2023-07-15 22:57:31,595 INFO sqlalchemy.engine.Engine COMMIT